.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
}

input {
  width: 200px;
  padding: 8px 10px;
  border-radius: 6px;

  background-color: rgba(187, 13, 13, 0.12);
  color: var(--vscode-foreground);
  border: 1px solid var(--vscode-editorWidget-border);

  outline: none;
  transition: all 0.15s ease;
}

input:focus {
  border: 1px solid var(--vscode-focusBorder);
  box-shadow: 0 0 0 1px var(--vscode-focusBorder);
}

.checkbox-group {
  margin-bottom: 20px;
}

button {
  padding: 6px 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}